:root {
    --polar-night-1: #4C576A;
    --polar-night-2: #434D5E;
    --polar-night-3: #3B4252;
    --polar-night-4: #2E3440;
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--polar-night-4);
    color: tomato;
    font-family: "Lucida Console", Monaco, monospace;
}

h1, h3 {
    color: #A2BD8B;
}

.example--canvas {
    border: 1px dashed #FEFFFE;
}

.statistics {
    display: inline-flex;
    width: 800px;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    margin: 1rem 0;
}

.statistics--item {
    flex-shrink: 0;
    flex-grow: 1;
}

button {
    background: none;
    border: 1px solid #FEFFFE;
    padding: 10px 20px;
    color: #FEFFFE;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
}

.button-emoji {
    line-height: 18px;
    padding-left: 22px;
    font-size: 13px;
}

.center {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.progress-bar {
    width: 300px;
    height: 30px;
    border: 3px solid white;
}

.bar {
    height: inherit;
    background-color: #A2BD8B;
}

.time-container {
    margin-top: 8rem;
}
