html, body {
    margin: 0;
    padding: 0;
    background: #323743;
    color: tomato;
    font-family: "Lucida Console", Monaco, monospace;
}

h1 {
    color: #A2BD8B;
}

canvas {
    border: 1px dashed #FEFFFE;
    background: #323743;
}

button {
    background: none;
    border: 1px solid #FEFFFE;
    padding: 10px 20px;
    color: #FEFFFE;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
}
